@import 'form';

.login{
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    min-width: 450px;
    background-color: $light_green_color;
    border: $dark_color solid 2px;
    border-radius: 10px;
    padding: 50px 0;
    .noAccount{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
        p{
            font-size: 14px;
            margin-right: 10px;
        }
        .reg-btn{
            height: 40px;
            padding: 5px 15px;
        }
    }

}
